/* fix Unknown at rules by ignoring them; */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

@layer base {
  html {
    @apply text-black;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    appearance: textfield;
  }
}

@layer components {
  /* TYPOGRAPHY */
  .subtitle {
    @apply block text-sm font-bold block mb-4;
  }
  .vertical-text {
    writing-mode: vertical-rl;
    @apply -rotate-180;
  }

  /* PANELS, DRAWERS, LABELS */
  .panel-result {
    @apply flex flex-xy-center px-16 py-3 bg-green rounded-md shadow-md mr-3;
  }

  /* BUTTONS */
  .tab-button {
    @apply flex flex-xy-center h-48 w-10 p-4 font-bold text-base rounded-l-lg shadow-md;
  }
  .tab-button-active {
    @apply bg-light-green;
  }

  .button-basic {
    @apply flex flex-xy-center h-8 p-4 border border-gray rounded-md shadow-md;
  }

  .button-green {
    @apply bg-green font-bold text-white;
  }

  .button-light {
    @apply bg-white text-green text-xs;
  }

  .button-disabled {
    @apply bg-dark-gray text-white;
  }

  .embedded-dropdown {
    @apply absolute flex items-center inset-y-0 right-0 text-sm rounded-r-md bg-light-gray text-dark-gray;
  }

  .inline-dropdown {
    @apply relative lowercase underline;
  }

  .dropdown-list {
    @apply absolute top-9 -left-1/2 w-28 text-xs font-normal p-1 rounded-sm bg-white border border-gray;
  }

  .dropdown-list > li {
    @apply p-1 hover:bg-light-gray first:before:absolute;
  }

  .dropdown-list > li:first-child:before {
    z-index: 1;
    width: 12px;
    height: 12px;
    transform: translateY(12px) rotate(45deg);
    @apply left-1/2 border-t border-l border-t-gray border-l-gray bg-white;
    top: -19px;
    margin-left: -6px;
  }

  /* COMPOSITES */
  .button-basic-active {
    @apply button-green;
  }
}

@layer utilities {
  .flex-xy-center {
    @apply justify-center items-center;
  }
}

/* Overrides and fixes */
#income-table th,
#income-table td {
  @apply text-xs font-normal h-8 py-3;
}
